/* Colors */

:root {
    --white: #ffffff;
    --black: #333333;
    --black-alpha: rgba(51, 51, 51, 0.05);
    --thin-gray: #f9f9f9;
    --light-gray: #f2f2f2;
    --gray: #888888;
    --dimgray: #696969;
    --teal: #057d7d;
    --teal-light: #e6f2f2;
    --darkred: #8b0000; 
    --blue: #2f2fac;
    --blue-dark: #38237d;
    --yellow: rgb(255, 248, 191);


    /* Text colors */
    --color-text: var(--black);
    --color-text-heading: var(--black);
    --color-text-subtle: var(--gray);
    --color-text-subheading: var(--dimgray);
    --color-text-accent: var(--teal);
    --color-text-negative: var(--darkred);
    --color-link: var(--color-text-accent);
    --color-link-visited: var(--blue-dark);
    --color-link-hover: var(--teal-light);
    --color-blockquote-background: var(--gray);

    /* Background colors */
    --color-background: var(--white);
    --color-background-framed: var(--thin-gray);
    --color-background-subtle: var(--light-gray);
    --color-background-subtle-color: var(--teal-light);
    --color-background-accent: var(--yellow);

    /* Border colors */
    --color-border-subtle: var(--light-gray);
    --color-border-thin: var(--thin-gray);

    /* Shadow colors */
    --color-shadow: var(--black-alpha);


  }

/* Typography */

  :root {
    --spacing-unit: 1.5rem;
  
    /* Typography Sizes */
    --font-size-h1: clamp(2.2rem, 5vw, 3rem);
    --font-size-h2: clamp(1.8rem, 4vw, 2rem);
    --font-size-h3: clamp(1.4rem, 3vw, 1.5rem);
    --font-size-h4: clamp(1.2rem, 2.5vw, 1.3rem);
    --font-size-p: clamp(1rem, 2vw, 1.25rem);
    --font-size-small: clamp(0.9rem, 1.5vw, 1rem);
    --font-size-large-p: clamp(1.3rem, 3vw, 1.5rem);
    --font-size-ul: clamp(1.1rem, 2.5vw, 1.3rem);
    --font-size-blockquote: clamp(1.2rem, 3vw, 1.4rem);
  }
  
  /* Spacing Scale */

  :root {
    --space-xs: clamp(0.5rem, 1vw, 0.75rem);  /* Extra Small */
    --space-sm: clamp(0.75rem, 1.5vw, 1rem); /* Small */
    --space-md: clamp(1rem, 2vw, 1.5rem);    /* Medium */
    --space-lg: clamp(1.5rem, 3vw, 2rem);    /* Large */
    --space-xl: clamp(2rem, 5vw, 3rem);      /* Extra Large */
  }
  