---
layout: layout.html
---

<!-- Про письмо -->

<ul class="breadcrumb">
  <li><a href="/index/">Home</a></li>
  <li>The Garden 🌿</li>
</ul> 

<h2>Notes</h2>
    <p>Unopinionated and raw searches around a topic. Feel free to reach out and ask me to finish them</p>
        
    <div class="notes-grid">
          {% for note in collections.note %}
            <div class="note-card">
              <h2><a href="{{ note.url }}">{{ note.data.title }}</a></h2>
              <small>{{ note.date | date: "%B %d, %Y" }}</small>
            </div>
          {% endfor %}
    </div>
        
<h2>Essays</h2>
    <p>Opinionated thoughts around a topic interesting for me.</p>
    <div class="essays-grid">
          {% for essay in collections.essay %}
          <div class="essay-card">
          <h2><a href="{{ essay.url }}">{{ essay.data.title }}</a></h2>
          <p>{{ essay.data.excerpt }}</p>
          <small>Published on {{ essay.date | date: "%B %d, %Y" }}</small>
          </div>
          {% endfor %}
    </div>

<p class="big framed">Want to share your thoughts? Feel free to <a href="mailto:nasta.tulayeva@gmail.com?subject=Hi!%20It's%20from%20your%20portfolio%20site">say Hi 👋</a> to me.</p>
