---
layout: layout.html
title: The Garden
---

<!-- Страница про письмо -->

<hgroup>
<h1>{{ title }}</h1>
<h3>Digital garden is a way of learning in public by publishing your notes, changing them over time and evolving your ideas.</h3>
</hgroup>

<div class="middle-divider"></div>

<div style="display: none;">
<h2>Essays</h2>
<p>Opinionated thoughts and narratives.</p>
    <div class="essays-grid">
          {% for essay in collections.essay %}
          <div class="essay-card">
          <h2><a href="{{ essay.url }}">{{ essay.data.title }}</a></h2>
          <p>{{ essay.data.excerpt }}</p>
          <small>Published on {{ essay.date | date: "%B %d, %Y" }}</small>
          </div>
          {% endfor %}
    </div>
</div>

<div>
<h2>Notes</h2>
<p>Raw searches and braindump around any topic.</p>
<div class="notes-grid">
        {% for note in collections.note %}
        <div class="note-card">
            <a href="{{ note.url }}" class="note-card">
            <h2><a href="{{ note.url }}">{{ note.data.title }}</a></h2>
            <small>{{ note.date | date: "%B %d, %Y" }}</small>
          </a>
          </div>
        {% endfor %}
</div>
</div>

<div class="middle-divider"></div>


<p>I find ability to share the ideas being in development beautiful and empowering. For my digital garden in its current state, I was inspired by and shamelessly copied <a href="https://maggieappleton.com/">Maggie Apleton's</a> metaphor:
  <ul>
    <li>🌱 Seedling: Early explorations, raw thoughts</li>
    <li>🌿 Budding: Somewhat developed, might have major iterations to come</li>
    <li>🌱 Evergreen: Mostly finished, at most minor iterations to come</li>
  </ul>

<div class="medium-divider"></div>

{% include "contact-card.html" %}