---
layout: layout.html
title: The Garden
---

<!-- Страница про письмо -->

<hgroup>
  <h1>{{ title }}</h1>
  <p class="subheader">This is my digital retreat, where I explore ideas and share them in development.</p>
</hgroup>

<div class="large-divider"></div>

<div style="display: none;">
  <h2>Essays</h2>
  <p>Opinionated thoughts and narratives.</p>
  <div class="essays-grid">
    {% for essay in collections.essay %}
    <div class="essay-card">
      <h3><a href="{{ essay.url }}">{{ essay.data.title }}</a></h3>
      <p>{{ essay.data.excerpt }}</p>
      <small>Published on {{ essay.date | date: "%B %d, %Y" }}</small>
    </div>
    {% endfor %}
  </div>
</div>

<div>
  <h2>Notes</h2>
  <!-- <p class="subheader-small">Raw searches and braindump around any topic.</p> -->
  <div class="notes-grid">
    {% for note in collections.note | reverse %}
    <div class="note-card">
      <h3 class="note-card"><a href="{{ note.url }}">{{ note.data.title }}</a></h3>
      <small>{{ note.data.phase }} | {{ note.date | date: "%B %d, %Y" }}</small>
    </div>
    {% endfor %}
  </div>
</div>

<div class="large-divider"></div>

<hr class="solid">

<div class="large-divider"></div>

<div class="two-grid">
  <div>
    <h2>Library</h2>
    <p>Zen and the Art of Motorcycle Maintenance <small>Robert Pirsig</small>
    <p>Careless People <small>Sarah Wynn-Williams</small>
    <p>The Form of the Book <small>Jan Tschichold</small></p>
    <p>Radical Technologies <small>Adam Greenfield</small></p>
    <p>The Complex Designer <small>Eugene Arutyunov</small></p>
    <p>Bullshit Jobs: A Theory <small>David Graeber</small></p>
  </div>

  <div>
    <h2>To-read</h2>
    <p>V. <small>Thomas Pynchon</small></p>
    <p>Women, Fire and Dangerous Things <small>George Lacoff</small></p>
    <p>A Philosophy of Walking <small>Frederic Gros</small></p>
    <p>On Writing Well <small>William Zinsser</small></p>
    <p>The Sense of Style: The Thinking Person’s Guide to Writing in the 21st Century <small>Steven Pinker</small></p>
  </div>
</div>

<div class="large-divider"></div>

<hr class="solid">

<div class="medium-divider"></div>

<p>I find ability to share the ideas being in development beautiful and empowering. For my digital garden in its current
  state, I was inspired by and shamelessly copied <a href="https://maggieappleton.com/">Maggie Appleton's</a> metaphor:
<ul>
  <li>seedling: early explorations, raw
    thoughts,</li>
  <li>growing: somewhat developed, might
    have major iterations to come,</li>
  <li>evergreen: Mostly finished, at most
    minor iterations to come.</li>
</ul>

{% include "contact-card.html" %}