---
layout: layout.html
---

<hgroup>
    <h1 style="font-size: 3rem;"><em>Nastia&nbsp;Tulayeva</em> is a designer and illustrator. </h1>
    <h2 class="home"> I like making things, observing things, and writing what I see and think. Raised in Belarus, based in&nbsp;Belgrade, Serbia.</h2>
</hgroup>

<div class="medium-divider"></div>

<!-- Про дизайн -->

<div>
    <h2>Work</h2>
    <p>Product design case studies I'm currently rewriting:</p>
    <div class="case-grid">
        {% for case in collections.case %}
        <a href="{{ case.url }}" class="case-card-link">
            <div class="case-card case-card-link">
                <img src="{{ case.data.image }}" alt="{{ case.data.title }}">
                <small>{{ case.data.year }}</small>
                <h2>{{ case.data.title }}</h2>
                <p>{{ case.data.excerpt }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div>
    <h2>The Garden</h2>
    <p>Most recent digital garden entries:</p>
    <div class="notes-grid">
        {% assign recentNotes = collections.note | slice: 0, 3 %}
        {% for note in recentNotes %}
          <div class="note-card">
              <h2><a href="{{ note.url }}" class="note-card">{{ note.data.title }}</a></h2>
              <small>{{ note.data.phase }} | {{ note.date | date: "%B %d, %Y" }}</small>
          </div>
        {% endfor %}
</div>
</div>


<div>
    <h2>Also I...</h2>
    <ul>
        <!-- <li><em>Designed Coherent Solutions Mobile Practice Merch.</em></li>
        <li><em>Designed Norm Design website.</em></li>-->
        <li>Coded this website.</li>
        <li>Designed <a href="https://www.coherentsolutions.com/">Coherent Solutions website.</a></li>
        <li>Illustrated Coherent Solutions <a href="https://dribbble.com/coherentsolutions">Dribbble page</a> header.</li>
        <li>Led design of Padzei, a&nbsp;Belarusian startup helping people find local events.</li>
        <li>Led user research for foodtech startup <a href="https://shlp.by/">SHLP</a>.</li>
        <li>Illustrated <a href="https://www.mienskurban.space/chasopis">Minsk Urban Magazine</a> articles in 2023—2024.</li>
        <li>Mentor designers at&nbsp;Women&nbsp;in&nbsp;Tech.</li>
    </ul>
</div>

<div class="medium-divider"></div>

<div>
    <h2>I know:</h2>
        <div class="word-tag">
            <span class="tag">UX/UI and product design</span>
            <span class="tag">Branding and logos</span>
            <span class="tag">B2B SaaS and B2C</span>
            <span class="tag">HTML and CSS</span>
           <span class="tag">AI-first</span>
            <span class="tag">Accessibility</span>
            <span class="tag">Digital illustration</span>
            <span class="tag">User and market research</span>
            <span class="tag">UX copy</span>
            <span class="tag">Product management</span>
            <span class="tag">Data visualisation</span>
            <span class="tag">Dashboard design</span>
        </div>
               
    <p>I design with Figma, and am currently learning to do it with code. Illustrations are drawn by hand, in ProCreate, or Adobe Illustrator. I'm familiar with Jira, Confluence, and Microsoft Azure. I worked mostly in cross-functional teams, as well as a&nbsp;part of design teams of 10+ people. I have experience of being an&nbsp;architect, urbanist, event manager, editor and Tableau engineer.</p> 
    <p><a href="https://drive.google.com/file/d/1Mub4ZtToF2i_6_yfIBLbHVvuIUBI-IZ5/view">Here is my CV.</a></p>
</div>