---
layout: layout.html
---

<div class="medium-divider"></div>

<hgroup 
style="padding-top: 4rem;">
    <h1>
      Hi, I am <em style="color: var(--color-text-accent);">Nastia&nbsp;Tulayeva</em>. I design digital things that people interact with.
    </h1>
  </hgroup>

<div class="large-divider"></div>

<!-- Про дизайн -->

<section>
    <h2>Selected <a href="/work/">work ›</a></h2>
    <!-- <p class="subheader-small">Recent case studies. All projects are <a href="/work/">here</a>.</p> -->
    <div class="case-grid">
        {% assign recentCases = collections.case | slice: 0, 2 %}
        {% for case in recentCases %}
        <a href="{{ case.url }}" class="case-card-link">
            <div class="case-card case-card-link">
              <div class="case-card-image">
                <img src="{{ case.data.image-bg }}" alt="{{ case.data.title }}">
              </div>
                <small>{{ case.date | date: "%Y" }}</small>                
                <h3>{{ case.data.title }}</h3>
                <p>{{ case.data.excerpt }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

<section>
    <h2>Most recent <a href="/garden/">digital garden ›</a> entries</h2>
    <!-- <p class="subheader-small">My writing is <a href="/garden/">here</a>. Most recent digital garden entries:</p> -->
    <div class="notes-grid">
        {% assign recentNotes = collections.note | slice: 0, 3 %}
        {% for note in recentNotes %}
          <div class="note-card">
              <h3><a href="{{ note.url }}">{{ note.data.title }}</a></h3>
              <small>{{ note.data.phase }} | {{ note.date | date: "%B %d, %Y" }}</small>
          </div>
        {% endfor %}
</div>
</section>

<section>
    <h2>Contact me</h2>
    <p><a href="https://www.linkedin.com/in/nastia-tulayeva/">LinkedIn</a> 
        | <a href="mailto:nasta.tulayeva@gmail.com?subject=Hey!%20Reaching%20Out%20from%20Your%20Website">Email</a> 
        | Currently in Belgrade, Serbia 🇷🇸</p>
    
</section>