<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <title>{{ title | default: "Nastia Tulayeva" }}</title>
</head>

<body>
  <!-- <nav class="breadcrumbs">
    <a href="/">Home</a>
    {% for crumb in page.url | breadcrumbs %}
      &nbsp;>&nbsp;<a href="{{ crumb.url }}">{{ crumb.name }}</a>
    {% endfor %}
</nav> -->
<header class="navbar">
  <nav class="nav-container">
    <div class="nav-logo"><a href="/">Nastya Tulayeva</a></div>
    <label for="nav-toggle" class="nav-icon">&#9776;</label>
    <ul class="nav-links">
      <li><a href="/garden/">The Garden 🌿</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/now/">Now</a></li>
    </ul>
  </nav>
</header> 

<button class="floating-contact-button"><a href="mailto:nasta.tulayeva@gmail.com?subject=Hi!%20It's%20from%20your%20portfolio%20site">Say Hi to me 👋</a></button>


    <main>
        {{ content }}
    </main>
</body>
</html>