<footer>
    <p>© 2025 Nastia Tulayeva</p>
    <div class="contact-links">
        <a href="mailto:nasta.tulayeva@gmail.com?subject=Hey!%20Reaching%20Out%20from%20Your%20Website"><img class="icon-link" src="/images/icons/mail-line.svg"></a>
        <a href="https://www.linkedin.com/in/nastia-tulayeva/"><img class="icon-link" src="/images/icons/linkedin-line.svg"></a>
        <a href="https://github.com/nastapasta"><img class="icon-link" src="/images/icons/github-line.svg"></a>
        <a href="https://bsky.app/profile/nsttlv.bsky.social"><img class="icon-link" src="/images/icons/bluesky-line.svg"></a>
    </div>
</footer>