<header class="navbar">
    <nav class="nav-container">
      <div class="nav-logo" style="width: 32px;" title="This is Comet the cat. She says hi!"><a href="/"><img src="/images/favicon.png" alt="Home page"></a></div>
          <!-- The checkbox comes before the icon and menu -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="nav-icon">&#9776;</label>
      <ul class="nav-links">
        <li><a href="/garden/">The Garden <img src="/images/inline-icons/inline-icon-evergreen.svg" class="inline-icon"></a></li>
        <!-- <li><a href="/work/">Work</a></li> -->
        <li><a href="/about/">About</a></li>
        <li><a href="/now/">Now</a></li>
      </ul>
    </nav>
  </header>   