* {
    box-sizing: border-box;
}

body {
    font-family: 'Instrument Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 1rem;
    line-height: 1.6;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

hgroup {
    margin: 20px 0px 40px 0px;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 400;
    font-size: 28px;

}

h3 {
    font-weight: 500;
    font-size: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 0px;
}

ul {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;}

figcaption a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
    max-width: 100%;
}

a {
    transition: background-color 0.2s;
}

a:hover {
    color: black;
    background-color: #e6f2f2;
}

.promo-paragraph {
    background-color: yellow;
}

figcaption {
    color: gray;
}

figure {
    margin: 0px;
    padding-bottom: 40px;
}

mark {
    background-color:rgb(255, 248, 191);
}

.big {
    font-size: 1.2rem;   
    text-indent: 0px;
    line-height: 1.6rem;
    font-weight: 100;
}

.framed {
    background-color: #f5f5f5;
    border-radius: 16px;
    text-indent: 0px;
    color: #1c1c1c;
    padding: 1rem 1.5rem 1.5rem 1.5rem;


}

.info-text-alert {
    font-style: italic;
    text-indent: 0px;
    border-radius: 16px;
    padding: 10px 16px 12px 16px;
    margin-bottom: 40px;
    color: rgb(193, 83, 19);
    background-color: rgb(255, 236, 225);
    width:fit-content;
}

/* Tags layout */
.word-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
}

  .tag {
    background-color: #e6f2f2;
    color: #333;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    white-space: nowrap;
    transition: background-color 0.2s;
    font-size: 1rem;
  }

  .tag:hover {
    background-color: #d0dcdc;
  }